
html {
  background-color: white;
}
 
body {
  background-color: #ffc72c;
  width: 900px;
  border: 2px solid black;
  padding: 0px 20px 20px 20px;
  font-family: 'Georgia', 'Trebuchet MS', serif;
  
}

h1 {
  font-family: 'Georgia', 'Trebuchet MS', serif;
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #fffdd0;  
  text-shadow: 3px 3px 1px #da291c;

}

h2{
  font-family: 'Georgia', 'Trebuchet MS', serif;
  font-size: 28px;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  color: #ffc40c;
  text-shadow: 3px 3px 1px #da291c;
}

h3{ /* not used */
  font-family: 'Georgia', 'Trebuchet MS', sans-serif;
  font-size: 20px;
  text-align: left;
  margin: 0;
  padding: 10px 0;
  color: #ffc40c;
  text-shadow: 3px 3px 1px #da291c;
}

h4{ /* What do you think... */
  font-family: 'Georgia', 'Trebuchet MS', serif;
  font-size: 40px;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  color: #da291c;
  text-shadow: 3px 3px 1px #ffffff;
}

img {
  display: block;
  margin: 0 auto;
  align: center;
}

p {
  color: #da291c;
}

table {
  border: 1px solid black;
  background-color: #f1f1c1;
}

textarea {
  width: 100%; /* This will make it as wide as its container */
  height: 150px; /* This sets a fixed height */
  align: center;
}

/* Defining styling for a specific element type - each question */
.question {
  background-color: #faf0be;
  color: white;
  margin: 20px;
  padding: 20px;
}

/* Defining styling for a specific element type - large block buttons */
.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #faf0be;  
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

/* Defining styling for a specific element with an id */
#signature {
  text-align: right;
  color: #f5f5f5;
  font-style: italic;
  font-size: 40%;
}